@import '../../../styles/colors.module.scss';
@import '../../../styles/fonts.module.scss';

.splitter   {
    background-color: $secondary;
    height: 9px;
    width: 100%;
}

@media  (max-width: 530px)  {
    .firstContainer   {
        display: none;
    }
}