@import '../../../styles/colors.module.scss';
@import '../../../styles/fonts.module.scss';

.section    {
    align-items: center;
    background: url("https://i.imgur.com/mZ8b7tb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: $o;
    min-height: 100vh;
    text-align: center;
}

.title  {
    border-bottom: 2px solid #efefef;
    color: #EFefef;
    font-size: 48px;
    font-weight: bold;
    padding-top: 52px;
}

.paragraphs {
    color: #D9D9D9;
    font-size: 24px;
    width: 707px;
}

@media  (max-width: 775px)  {
    .paragraphs {
        width: 507px;
    }
}

@media  (max-width: 565px)  {
    .title  {
        font-size: 36px;
    }

    .paragraphs {
        font-size: 18px;
        width: 305px;
    }
}