@import '../../../styles/colors.module.scss';
@import '../../../styles/fonts.module.scss';

*{
  margin: 0;
  padding: 0;
}

.topSection {
  align-items: center;
  background-color: $primary;
  display: flex;
  flex-direction: row;
  gap: 75px;
  height: 40px;
  justify-content: center;
  padding: 0 152px;
  width: 100%;
}

.bottomSection  {
  align-items: center;
  background-color: $secondary;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding-top: 12px;
  width: 100%;
}

.headerLogo {
  width: 52px;
}

.headerTitle  {
  font-family: $msc;
  font-size: 48px;
  margin-top: 10px;
}

.horizontal {
  align-items: center;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 18px;
  text-decoration: none;
}

.searchBar  {
  background-color: white;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.367) 3px 3px 3px 1px;
  display: flex;
  flex-direction: row;
  height: 39px;
  width: 252px;
}

.inputText  {
  border: none;
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 5px;
  height: 30px;
  width: 200px;

  &:focus {
    border: 0;
    outline: none;
  }
}

.searchButton {
  border-radius: 50%;
  background-color: $secondary;
  border: none;
  margin-top: 5px;
  height: 31px;
  width: 31px;
}

.searchIcon {
  color: white;
  width: 25px;
}

.navOptions {
  align-items: center;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  width: 123px;

  transition: 0.4s;
  &:hover {
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }
}

.navOptionsIcon {
  height: 39px;
  width: 39px;
}

.navOptionsText {
  font-size: 12px;
  font-weight: 400;
  margin-left: 5px;
  margin-top: 20px;
  width: 106px;
}

.ul {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: center;
  margin-left: 82px;
  margin-top: 7px;
  text-align: center;
}

#collapse {
  transition: 0s;
}

#optionLink {
  height: 37px;
  text-decoration: none;
  font-size: 36px;
}

.options  {
  color: black;
  font-family: $msc;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    color: white;
  }
}

@media(max-width: 991px)  {
  .headerLogo {
    width: 52px;
  }

  .headerTitle  {
    font-size: 36px
  }

  .ul {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0px;
  }

  .searchBar  {
    display: none;
  }

  .navOptionsIcon {
    height: 25px;
    width: 25px;
  }
}

@media (max-width: 1100px)  {
  .ul{
    margin-left: 0px;
  }
}