@import '../../../styles/colors.module.scss';
@import '../../../styles/fonts.module.scss';

*{
  margin: 0;
  padding: 0;
}

.topSection {
  align-items: center;
  display: flex;
  flex-direction: row;
  background-color: $primary;
  height: 94px;
  width: 100%;
}

.bottomSection  {
  align-items: center;
  background-color: $secondary;
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 90px;
  justify-content: center;
  padding-top: 25px;
  width: 100%;
}

.headerLogo {
  width: 72px;
}

.headerTitle  {
  font-family: $msc;
  font-size: 48px;
  margin-top: 10px;
}

.horizontal {
  align-items: center;
  color: black;
  display: flex;
  flex-direction: row;
  gap: 18px;
  text-decoration: none;
}

.searchBar  {
  background-color: white;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  height: 39px;
  width: 252px;
}

.inputText  {
  border: none;
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 5px;
  height: 30px;
  width: 200px;

  &:focus {
    border: 0;
    outline: none;
  }
}

.searchButton {
  border-radius: 50%;
  background-color: $secondary;
  border: none;
  margin-top: 5px;
  height: 31px;
  width: 31px;
}

.searchIcon {
  color: white;
  width: 25px;
}



