@import '../../../styles/colors.module.scss';
@import '../../../styles/fonts.module.scss';

.h1 {
    font-family: $msc;
    font-size: 36px;
    text-align: center;
}

.section    {
    background: url('https://i.imgur.com/O7X1ZhH.jpg');
    background-repeat: none;
    background-size: cover;
    box-shadow: 0 8px 24px -16px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    padding: 40px;
}

#registerPopup  {
    background-color: green;
    bottom: 0;
    height:40px;
    left:  0;
    margin: 20px;
    padding: 20px;
    position: fixed;
    width: 300px;
}

.register   {
    background-color: rgba(255, 255, 255, 0.834);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 440px;
    padding: 30px;
    transition: all 0.2s ease-in-out;
    width: 450px;
}

.login  {
    background-color: rgba(255, 255, 255, 0.834);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 440px;
    padding: 30px;
    transition: all 0.2s ease-in-out;
    width: 450px;
}

.registerForm   {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 0px;
}

.loginForm  {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 70px;
}

.formButton {
    background-color: $primary;
    border: none;
    font-family: $o;
    font-size: 18px;
    height: 35px;
    text-align: center;
    width: 100%;
}

.label  {
    font-family: $msc;
    font-size: 18px;
}

.input  {
    background-color: transparent;
    border: 0;
    border-bottom: $brown 2px solid;
    font-size: 18px;


    &:focus {
        border-bottom: 2px solid transparent;
        outline-color: $primary;
    }
}

.span   {
    color: #f64348;
    font-size: .75rem;
}

.button {
    background-color: #43a5f6;
    border: 0;
    border-radius: .25rem;
    font-size: 1rem;
    margin-top: 1rem;
    padding: .5rem 0;
    text-transform: uppercase;

    &:hover {
        cursor: pointer;
        filter: brightness(0.9);
    }
}


.img    {
    width: 60px;

    &:hover {
        cursor: pointer;
        transition: 0.4s;
        filter: brightness(0.5);
    }
}  

.error  {
    border: 1px solid #f64348;

}

#my-text    {
    font-weight: 500;
}

.changeStatus   {
    align-self: center;
    cursor: pointer;
    color: $brown;
    font-size: 18px;
    text-align: center;
    
    transition: 0.3s;
    &:hover   {
        color: $primary;
    }
}

.links  {
    color: navy;
    text-decoration: none;
    transition: 0.3s;
    &:hover {
        color: gray;
    }
}

@media  (max-width: 528px)  {
    .register   {
        height: 480px;
    }

    .terms  {
        text-align: center;
    }

    .login   {
        height: 480px;
    }
}

@media  (max-width: 425px)  {
    .label  {
        font-size: 14px;
    }

    .changeStatus   {
        font-size: 14px;
    }

    .h1 {
        font-size: 24px;
    }

    .input  {
        height: 30px;
    }

    .login  {
        height: 380px;
    }
}

@media  (max-width: 375px)  {
    .section    {
        padding: 5px;
    }

    .register   {
        width: 95%;
    }

    .login  {
        width: 95%;
    }
}