@import '../../../styles/colors.module.scss';
@import '../../../styles/fonts.module.scss';

.footer {
    min-height: 240px;
    width: 100%;
}

.section    {
    align-items: center;
    background-color: $secondary;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 200px;
    padding: 36px 102px;
}

.infoSection    {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infoTitle  {
    color: black;
    font-family: $o;
    font-size: 24px;
    font-weight: bolder;
    text-transform: uppercase;
}

.listing    {
    color: black;
    font-family: $o;
    height: 40px;
    text-decoration: none;


}

.links  {
    transition: 0.3s;
    &:hover {
        color: gray;
    }
}

.seal   {
    background-color: $primary;
    min-height: 10vh;
    width: 100%;
}

.sealText   {
    font-family: $o;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.alcoholRestriction {
    width: 172px;
}

.icon   {
    width: 25px;
}

#credits    {
    margin-bottom: -85px;
}

@media  (max-width: 900px)  {
    .section    {
        align-items: center;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
        text-align: center;
    }
}

@media  (max-width: 685px)  {
    .sealText   {
        font-size: 12px;
    }
}

@media  (max-width: 552px)  {
    .section    {
        gap: 100px;
    }
}

@media  (max-width: 485px)  {
    .seal   {
        height: 15vh;
    }
}