@import '../../../../styles/colors.module.scss';
@import '../../../../styles/fonts.module.scss';

.section    {
    align-items: center;
    background-color: $background;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    min-height: 200vh;
    padding: 50px;
}