@import './colors.module.scss';
@import './fonts.module.scss';

*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main    {
    background-color: $background;
    min-height: 100vh;
    color: white;

    p   {
        margin: 0;
    }
}

.popup {
    align-items: center;
    border-radius: 10px;
    display: flex;
    height: 250px;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: fixed;
    text-align: center;
    top: 0;
    transition: all 0.2s ease-in-out;
    visibility: hidden;
    width: 350px;
    z-index: 9999;
}

.popup.open {
    opacity: 1;
    visibility: visible;
}

.popupText  {
    align-self: center;
    color: white;
    font-family: $o;
    margin-top: 15px;
    text-align: center;

}


::-webkit-scrollbar {
    width: 10px;

}

::-webkit-scrollbar-track {
    background: $background;
}

::-webkit-scrollbar-thumb {
    background: $brown;
}